body {
	background-color: #000000;
	margin: 0;
}

#time {
	position: fixed;
	width:100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#time div {
	display: inline-block;
	color: #EFEFEF;
	font-family: 'Lato', serif;
	z-index: 1;
}

.timeNumber {
	-webkit-text-stroke: 2px #000000;
	font-weight: 400;
	font-size:12vw;
}

.timeDescriber {
	-webkit-text-stroke: 1px #000000;
	font-weight: 300;
	font-size: 8vw;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: opacity 1s ease-in-out;
	object-fit: cover;
	width: 100%;
	height:100%;
	z-index: 0;
}

#kickoffMessage {
	position: fixed;
	bottom: -1em;
	right: 0.4em;
	font-weight:100;
	font-size: 4vw;
	display: inline-block;
	color: #EFEFEF;
	font-family: 'Pacifico', cursive;
	text-align: right;
	-webkit-text-stroke: 2px #000000;
	z-index: 1;
}

#headerBar {
	opacity: 1;
	transition: opacity 0.075s ease-in-out;
	justify-content: flex-start;
	position: fixed;
	display: flex;
	flex-direction: row;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	width: 100%;
}

#headerBar:hover {
	opacity: 1;
}

#headerBar p {
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	font-weight: 100;
	font-size: 2vh;
	display: inline-block;
	color: #EFEFEF;
	font-family: Arial, sans-serif;
	z-index: 1;
}

#headerBar p a {
	color: inherit;
	text-decoration: inherit;
}